@import url('font.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00498D #E4E4E4;

  &:focus{
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #00498D;
}

::-webkit-scrollbar-thumb:hover {
  background: #00498D;
}

.mt-6{
  margin-top: 6px;
}

textarea{
  resize:none;
}

html{
  max-width: 100vw;
  height: 100%;
}

body{
  font-family: 'Proxima Nova';
  background: #f5f9fb;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.main{
  height: 100%;
  padding: 20px;
  margin: 0;
}

#cke_editor1{
  height: calc(100% - 80px);
}

#contentTextres{
  margin-bottom: 0;
  margin-left: 15px;
}

.tags-xl{
  width: 100%;
  padding: 0 0 8px 0;

  &-row{
    width: 100%;
    display: flex;
    margin-bottom: 6px;

    &:last-child{
      margin-bottom: 0;
      margin-top: 6px;
    }
  }

  &-tag{
    width: fill-available;
    margin-right: 4px;
    border: 1px solid #B4B4B4; 
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
    padding: 6px 0;
    transition: 200ms ease;

    &:hover{
      color: #494A4A;
    }

    &:last-child{
      margin-right: 0;
    }

    &.current{
      color: #FFFFFF;
      background: #00498D;
      border: 1px solid #00498D;
    }
  }
}

.content{
  background: #fff;
  width: 100%;
  max-height: 100%;
  height: calc(100% - 72.86px);
  border-radius: 6px;
  margin-bottom: 11px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;

  &__input-div{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
  }

  &__label{
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    color: #8B8B8B;
    width: 100px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__input{
    width: 100%;
    height: 34px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__textarea{
    width: 100%;
    height: 43px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }

  &__count{
    position: absolute;
    bottom: -15px;
    right: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #E4E4E4;

    & .green{
      color: #00C48C;
    }
  }

  &__right{
    padding-right: 30px;

    &__title{
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 7px;
      color: #494A4A;
    }

    &__p{
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #8B8B8B;
      margin-bottom: 5px;
    }

    &__btn{
      width: 35px;
      height: 35px; 
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00498D;
      border: none;
      margin-left: 6px;
      transition: 200ms ease;
      border: 2px solid #00498D;

      &:hover{
        background: #fff;
        border: 2px solid #00498D;

        svg{
          fill: #00498D;
        }
      }
      
      svg{
        fill: #fff;
        transition: 200ms ease; 
      }
    }

    &__main{
      display: flex;
      justify-content: flex-start;
      align-items: start;

      &__left{

        label{
          width: 78px;
        }
      }

      &__right{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;

        &__content{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: start;
          width: 100%;

          &__top{
            display: flex;

            &__btns{
              display: flex;
              align-items: start;
              justify-content: flex-start;
              margin-left: 8px;
            }
          }

          &__bottom{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            width: 100%;
          }
        }

        &__img-div{
          margin-right: 15px;
        }
      }
    }
  }
}

.sidebar{
  background: #fff;
  border-radius: 6px;
  padding: 15px 21px;
  height: 100%;
  width: 100%;
  margin-bottom: 11px;

  &__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #494A4A;
    margin-bottom: 15px;
  }

  &__textarea{
    border: none;
    width: 100%;
    padding-right: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #494A4A;
    margin-top: 28px;
    height: calc(100% - 360px); 
  }
}

#editor1{
  height: 100%;
}

.cke_inner.cke_reset{
  height: 100%;
}

.cke_contents.cke_reset{
  height: calc(100% - 69px);
}

.visual{
  margin-left: 113px;
  margin-right: 16px;
  height: 100%;

  &__header{
    height: 100%;
  }
  
  &__footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 14px;
  }
}

.save-btn{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 14px;
  line-height: 20px;
  color: #1A051D;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 10px;
  transition: 200ms ease;

  &:hover{
    background: #00C48C;

    .save-btn__i{
      background: #fff;

      svg{
        fill: #00C48C;
      }
    }

    p{
      color: #fff;
    }
  }

  &__i{
    background: #00C48C;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    border-radius: 6px;
    transition: 200ms ease;

    svg{
      fill: #fff;
      transition: 200ms ease; 
    }
  }

  p{
    margin-bottom: 0;
  }
}

.cke_1.cke.cke_reset.cke_chrome.cke_editor_editor1.cke_ltr.cke_browser_webkit{
  background: #FFFFFF;
  box-sizing: border-box;
}

.text-align-right{
  text-align: right;
}