doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/index.css")
  body
    .row.main
      .col-12.col-xl-9
        .tags-xl 
          .tags-xl-row
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (14)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag.current Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
          .tags-xl-row
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag.current Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
        .content 
          
      .col-12.col-xl-3
        .sidebar
          h2.sidebar__title КС статьи
          .tags-xl
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag.current Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
            .tags-xl-row
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
              button.tags-xl-tag Тег 1
          textarea(class="sidebar__textarea" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quisquam eveniet id ad eum veniam, neque ab quos harum assumenda suscipit dolorum eaque nihil, excepturi porro, molestiae animi nobis tempora expedita veritatis? Optio porro aliquid, ab cupiditate delectus excepturi nihil non est accusamus! Obcaecati omnis asperiores, incidunt quidem possimus perspiciatis praesentium maxime ea molestias aperiam doloremque, voluptates voluptatibus nihil consectetur corporis inventore deserunt modi accusamus eos animi? Impedit maiores necessitatibus laboriosam voluptatibus accusamus, vitae doloremque tempora, minus quasi pariatur sed dicta est nesciunt repellat voluptas quia error et magnam cupiditate animi dignissimos enim exercitationem reprehenderit. Minima eos earum nesciunt qui distinctio officiis atque, amet, tempore, cum voluptates delectus necessitatibus odio quas quidem aspernatur aliquid assumenda perferendis magni expedita ducimus at illo. Nobis libero cumque debitis fugiat rem earum pariatur, dolore eligendi illum. Accusantium quos labore explicabo laborum nam inventore atque. Magnam, repellat aliquam. Quidem ducimus maxime quos est, quibusdam id sit totam, aliquid quas qui incidunt culpa corporis nulla optio ab pariatur provident at. Dolor magnam distinctio soluta, officiis et eius dicta rerum repellendus necessitatibus, quaerat eligendi voluptatibus quos sit delectus quisquam quidem dolores eos doloribus impedit id tempore molestiae blanditiis eaque nam! Esse assumenda, quas nam totam, odio voluptatibus iusto provident sapiente omnis cumque eligendi enim doloremque cum mollitia! Quam, quaerat repudiandae quidem labore tenetur cum soluta culpa quo repellat doloribus excepturi, in modi? Maiores vel rem suscipit. Consequatur vero minima autem, voluptatem magni amet quidem iusto fugiat accusantium eum consectetur officia praesentium cum itaque quisquam natus enim ut eius sunt repellat, neque deleniti quam ex. Facere, explicabo. Deserunt earum illo distinctio, at nostrum necessitatibus totam non! Alias, laboriosam ratione! Repellat repellendus non reiciendis minus enim voluptatibus asperiores ducimus. Quam libero qui quidem illum dolorum dolor, quod ipsam nesciunt fugiat eaque similique laborum voluptatem, consequatur sunt? Culpa quam dolor eaque omnis doloremque corrupti libero ipsum expedita, ratione voluptatibus. Alias doloribus architecto porro. Fugiat, provident quo? Corrupti autem laborum sequi numquam, commodi sed similique inventore, magnam sint eaque, aspernatur delectus velit praesentium itaque in. Ad porro repellendus, inventore a ipsum veniam illo? Sunt atque fugit quis porro vero provident, eveniet facere. Ab, nobis? Repellat praesentium reprehenderit quos itaque non saepe culpa tenetur quisquam asperiores fuga rem, dolore, harum accusamus a odio aliquid unde amet delectus possimus odit nostrum ipsum! Suscipit vitae quidem quae, nobis eligendi laboriosam aut nulla labore totam consectetur error laudantium. Culpa nesciunt ipsum magnam qui totam architecto dolore explicabo ipsa? Nemo quam harum placeat accusantium rem quis ullam atque aut id sed sequi est ipsam quod amet quia porro, unde impedit cupiditate neque, consectetur ut? Cumque facilis dolores atque impedit temporibus incidunt recusandae rerum excepturi, suscipit maxime ratione rem voluptas vero molestiae hic quis culpa eaque, iusto vitae! Nihil vitae eligendi numquam perspiciatis accusantium saepe harum doloribus exercitationem sit, laborum molestias velit commodi, maxime dignissimos ab illo repudiandae praesentium necessitatibus consectetur nemo. Corporis possimus ad in dicta. Enim sunt ea ducimus cum quod, veritatis, repudiandae expedita dolorum accusantium voluptatem totam mollitia eveniet. Aperiam velit animi repudiandae esse?")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js") 