doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/index.css")
  body
    .row.main
      .col-12.col-xl-9
        .tags-xl 
          .tags-xl-row
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (14)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag.current Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
          .tags-xl-row
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag.current Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
            button.tags-xl-tag Тег (1)
        .content 
      .col-12.col-xl-3
        .sidebar
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js") 